{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" class="form-signin">
            {# replave with symfony form here #}
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input placeholder="Email" type="email" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input placeholder="Password" type="password" name="password" id="inputPassword" class="form-control" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_terms"> I agree to the Terms
                </label>
            </div>
            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html#}

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up
            </button>
        </form>
    </div>

{% endblock %}
