{% extends 'content_base.html.twig' %}

{% block title %}

{% endblock %}

{% block content_body %}
    <h1>Edit article</h1>

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Update',
        button_class: 'info'
    }) }}

{% endblock %}

